$loaderColor1: $purple;
$loaderColor2: $purple-700;

#content {
    position: absolute;
    top: $headerHeight;
    left: 0;
    right: 0;
    bottom: $footerHeight;
    z-index: 1;
    .ng-scope {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .loader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $backgroundColor;
        z-index: 100;
        display: none;
        text-align: center;
        @include vertical-fix;
        .start {
            display: inline-block;
            position: relative;
            font-size: 2em;
            .fill {
                opacity: 1;
                transition: top 1.5s ease, left 1.5s ease, right 1.5s ease, bottom 1.5s ease, opacity 1.5s ease;
                background: $loaderColor1;
                position: absolute;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                top: -.2em;
                left: -.2em;
                right: -.2em;
                bottom: -.2em;
                z-index: -1;
                border-radius: 100em;
                overflow: hidden;
                -webkit-animation: loading-circle-3 18s -3s infinite linear;
                &:before, &:after {
                    position: Absolute;
                    height: 100%;
                    width: 50%;
                    content: '';
                    top: 0;
                    left: 0;
                    display: inline-block;
                    transform-origin: 100% 50%;
                    opacity: .99;
                }
                &:after {
                    -webkit-animation: loading-circle 3s infinite linear, loading-circle-3 18s infinite linear;
                    background: $loaderColor2;
                }
                &:before {
                    -webkit-animation: loading-circle-2 3s infinite linear, loading-circle-3 18s infinite linear;
                    background: $loaderColor2;
                }
            }
            .md {
                &:before {
                    content: "\f0c9";
                }
                cursor: disabled;
                background: $red;
            }
        }
    }
    .loading, .ready {
        #gabor {
            display: none;
        }
        .loader {
            display: inline-block;
        }
    }
    .ready {
        .start {
            cursor: pointer;
            .fill {
                opacity: 0;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            .md {
                &:before {
                    content: "\f0b9";
                }
                background: $green;
            }
        }
    }
}

@-webkit-keyframes loading-circle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(540deg);
    }
}


@-webkit-keyframes loading-circle-2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(540deg);
    }
}


@-webkit-keyframes loading-circle-3 {
    0% {
        background: $loaderColor2;
    }
    16.666% {
        background: $loaderColor2;
    }
    16.667% {
        background: $loaderColor1;
    }
    33.333% {
        background: $loaderColor1;
    }
    33.334% {
        background: $loaderColor2;
    }
    50% {
        background: $loaderColor2;
    }
    50.01% {
        background: $loaderColor1;
    }
    66.666% {
        background: $loaderColor1;
    }
    66.667% {
        background: $loaderColor2;
    }
    83.333% {
        background: $loaderColor2;
    }
    83.334% {
        background: $loaderColor1;
    }
    100% {
        background: $loaderColor1;
    }
}