#content {
    position: absolute;
    top: $headerHeight;
    left: 0;
    width: 100%;
    background: #ddd;
    bottom: $footerHeight;
    z-index: 2;
    & > .ng-scope {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}