#footer {
    background: $footerColor;
    color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footerHeight;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}