$statColor:#fff;
$statHoverColor:#b21;
.stats{
	background-color:inherit;
	div,span{
		color:inherit !important;
		margin:0 !important;
		border:0 !important;
		padding:0 !important;
		text-align:center;
	}
}
.stats:hover>div{
	div span{
		background-color:$menuHover !important;
	}
}
.stats>div{
	height:55px;
	width:100% !important;
	display:block !important;
	background-color:inherit !important;
	color:inherit !important;
	div{
		line-height: 1em;
		width:100% !important;
		span{
			width:(100%/74) !important;
			background-color:$menuBg !important;
		}
	}
	div:first-child{
		padding:10px 0 5px 0 !important;
		top: 30px;
		position: relative;
		z-index: 5;
	}
	div:last-child{
		background-color:$statColor !important;
		float:left;
		clear:both;
		position:relative;
		top:-24px;
	}
}