$headerHeight: 4em;
$footerHeight: 6em;

$backgroundColor: #999;
$headerColor: $blue;
$footerColor: $green;

@import "shared/functions";
@import "shared/material";

@import "components/header";
@import "components/content";
@import "components/footer";

@import "components/modal";

@import "components/games";

@import "components/about";
@import "components/game";
@import "components/loading";
@import "components/social";

#gabor {
    background: $backgroundColor;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#header > div, #footer > div {
    font-size: 1.5em;
}