@import "compass/reset";

@import "shared/fonts";
@import "shared/colors";

html {
    overflow: hidden;
}

body {
    font-family: 'RobotoDraft';
    -webkit-font-smoothing: antialiased;
    border: 0;
    overflow: hidden;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

@import "gabor";